
.container-wrap {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #1f3b0d;
    margin-left: auto;
    margin-right: auto;
}

.grid div {
    height:  20px;
    width: 20px;
}

.tetromino {
    background-color: #d11362;
}

.mini-grid {
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: rosybrown;
    margin: 0 auto 0 auto;
}

.mini-grid div {
    width: 20px;
    height: 20px;
}
 